.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .profile__info {
    margin: 27px 0 33px 0;
    padding: 0 10px;
  }
}
