.cards__button {
  background: transparent url(../../../images/heart.svg) no-repeat center;
  border: 0;
  padding: 9.5px 11px;
  margin: 0;
  transition: opacity 0.4s linear;
  cursor: pointer;
}

.cards__button:hover {
  opacity: 50%;
}
