.header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 41px;
  margin-top: 45px;
  border-bottom: 1px solid rgba(105, 104, 104, 0.7);
}

@media screen and (max-width: 1024px) {
  .header {
    padding-bottom: 31.6px;
    margin-top: 28px;
    padding-left: 27px;
  }
}
